body{
    background-color:  #ffe4c4;
    margin: 0;
}
header{
    background-color: #830e0d;
    padding: 1px;
}
h1{
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
.movie-poster-item{
    color: #34fff5;
    display: inline;

}
.page-menu-item{
    display: inline;
}
.page-menu-list{
    display: inline-block;
    width: 49%;
    text-decoration: none;
    box-sizing: border-box;
}
.movie-poster-list{
    display: inline-block;
    width: 49%;
    text-decoration: none;
    box-sizing: border-box;
}
.button{
    border: 2px solid  rgb(255, 255, 255);
    color: #ffffff;
    text-decoration: none;
}
h2{
    text-align: center;
    color: #800000;
}
div{
    
}
.film-img{
    border: 2px solid rgb(255, 255, 255);
    background-color: #ffffff;
    padding: 18px;
}
.film-card{
    border: 3px solid rgb(255, 255, 255);
    background-color: #ffffff;
    box-sizing: border-box;
    width: 30%;
    display: inline-block;
    margin: 10px;
    box-shadow: 5px 5px 2px lightgray;
}
.movie-poster-item.movie-poster-lable{
    color: #ffffff;
}
.price{
    text-align: center;
}
.button.film-card-button{

}






